<div class="container" style="margin-top: 20px;">
  <!-- Stepper Navigation -->
  <ul class="nav nav-pills mb-3" style="margin-bottom: 20px;">
      <li class="nav-item" role="button" *ngFor="let step of steps; let i = index">
          <a class="nav-link pointer" [class.active]="wizardService.currentStepIndex === i" (click)="goToStep(i)">
              {{ step.label }}
          </a>
      </li>
  </ul>

  <!-- Step Components -->
  <ng-container *ngIf="wizardService.currentStepIndex === 0">
      <app-personal-info></app-personal-info>
  </ng-container>
  <ng-container *ngIf="wizardService.currentStepIndex === 1">
      <app-language></app-language>
  </ng-container>
  <ng-container *ngIf="wizardService.currentStepIndex === 2">
      <app-address></app-address>
  </ng-container>

  <!-- Navigation Buttons -->
  <div class="mt-3">
    <button type="button" class="btn btn-secondary mr-2" (click)="previousStep()" *ngIf="showPreviousButton()">
      Previous
    </button>
    <button type="button" class="btn btn-primary mr-2" (click)="nextStep()" *ngIf="showNextButton()" [disabled]="!isCurrentStepValid()">
      Next
    </button>
    <button type="button" class="btn btn-success" (click)="submitForm()" *ngIf="showSubmitButton()" [disabled]="!isCurrentStepValid()">
      Submit
    </button>
  </div>
